.login-form {
  background-color: #53629D;
  color: white; /* optional to make text visible */
  padding: 20;
  background-repeat: no-repeat;
  height: 65%;
  margin-top: 10%;
}

.btn-color{
  background-color: #EE8C2A;

}

.text-color{
  color: black;
}

.login-bg{
    background-image: url('/public/assets/images/stadium bg 4096x2867.jpg');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;                        /* Full height */
  width: 100%;                         /* Full width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;  
  overflow: hidden;
}

.form{
    justify-content: center;
    align-items: center;
}