
.player-info-bg {
  min-height: 100vh;              /* full screen height */
  display: flex;
  justify-content: center;        /* center horizontally */
  align-items: center;            /* center vertically */
  background: url("/public/assets/images/stadium bg 4096x2867.jpg") no-repeat center center/cover; /* if you have background */
}

.player-info-container {
  background-color: rgba(72, 89, 158, 0.45);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.player-image {
  width: 100%;
  max-width: 170px;
  border-radius: 25%;
  border: 0px solid #163FA7;
  background-color: rgba(39, 216, 78, 0.35);
  padding: 1px;
}

.row{
    background-color: transparent;
}

.info-box, .stat-box {
  background-color: white;
  border-radius: 15px;
  padding: 0px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-inline-end: 10px;
}

.green .label {
  background-color: #22c55e; /* Tailwind green-500 */
  color: white;
  padding: 4px;
  border-radius: 10px;
  font-weight: bold;
}

.red .label {
  background-color: #ef4444; /* Tailwind red-500 */
  color: white;
  padding: 4px;
  border-radius: 10px;
  font-weight: bold;
}

.orange .label {
  background-color: #f97316; /* Tailwind orange-500 */
  color: white;
  padding: 4px;
  border-radius: 10px;
  font-weight: bold;
}

.value {
  font-size: 1rem;
  margin-top: 5px;
}

.team-logo1 {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.players-page::-webkit-scrollbar {
  width: 8px;
}
.players-page::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}
.players-page::-webkit-scrollbar-track {
  background: transparent;
}
