.players-bg{
  background-image: url("../../assets/images/vecteezy_cricket-stadium_427062.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.players-card img{
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}


.player-card{
  background-color: rgba(83, 98, 157, 0.55);      /* Solid card color */
  border: 1px solid black;        /* Visible border */
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: 275px;
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 5px;
}

.players-page {
  flex: 1;
  overflow-y: auto;   /* ✅ Scroll only this */
  padding: 60px 20px; 
  padding-top: 0px;
  margin-top: 70px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px); /* ✅ Adds a frosted glass effect */
  border-radius: 20px;
}


.players-card:hover{
  transform: translateY(-5px);
}

.players-page::-webkit-scrollbar {
  width: 8px;
}
.players-page::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}
.players-page::-webkit-scrollbar-track {
  background: transparent;
}
