.home-bg{
    min-height: 100vh;
    background-image: url('../../assets/images/vecteezy_cricket-stadium_427062.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
  .home-bg {
    background-size: cover;
    background-position: center bottom;
  }
}

.cc{
    justify-content: center;
    align-items: center;
}

.carousel-inner img {
 margin-top: 20px;
  height: 450px;           /* Set a fixed height */
  object-fit: cover;       /* Ensure image fills area without stretching */
  width: 100%;             /* Full width */
}

   
@media (max-width: 768px) {
  .carousel-inner img {
    height: 250px;
  }
}

.alert{
    margin-top: 63px;
}
